name: Metrics

on:
  schedule:
    - cron: "0 0 * * *"   # tiap hari
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: suirfan20
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Jakarta

          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year

          plugin_languages: yes
          plugin_languages_ignored: html, css
          plugin_languages_details: bytes-size, percentage
          plugin_languages_limit: 8

          plugin_followup: yes
          plugin_followup_sections: repositories

          plugin_stargazers: yes
          plugin_stargazers_charts: yes
          plugin_stargazers_charts_type: classic

          plugin_topics: yes
          plugin_topics_mode: starred
          plugin_topics_limit: 20

          filename: github-metrics.svg
